<p id="notice"><%= notice %></p>

<p>
  <strong>Send msg:</strong>
  <%= @keyword.send_msg %>
</p>

<p>
  <strong>Response msg:</strong>
  <%= @keyword.response_msg %>
</p>

<%= link_to 'Edit', edit_keyword_path(@keyword) %> |
<%= link_to 'Back', keywords_path %>
