<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Coupy 管理コンソール</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/admin/common_css' %>
    <%= render partial: 'layouts/admin/common_js' %>
  </head>

  <body class="skin-green sidebar-mini">
    <div class="wrapper">
      <%# メッセージ表示場所 %>
<%
=begin
%>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
<%
=end
%>
      <header class="main-header">
        <%= render partial: 'layouts/admin/header' %>
      </header>
      <aside class="main-sidebar">
        <%= render partial: 'layouts/admin/sidebar' %>
      </aside>
      <div class="content-wrapper">
        <%= yield %>
      </div>
      <footer class="main-footer">
        <%= render partial: 'layouts/admin/footer' %>
      </footer>
    </div>
  </body>
</html>
